{% include 'baseHeadNoLogin.html' %}
<!-- CHANGE CLASS BACK TO MODAL FADE -->
<div class="modal modal-tour position-static d-block bg-secondary py-5" id="exampleModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
        <h2 class="fw-bold mb-0">TITLE</h2>
        <h5>100 points - 3 solves</h5>
        <ul class="d-grid gap-4 my-4 list-unstyled">
          <li class="d-flex gap-4">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque massa vulputate faucibus malesuada. Duis dapibus nunc in mollis faucibus. Morbi mattis congue erat ut commodo. Etiam interdum, dui sollicitudin varius rhoncus, odio lacus tristique purus, at venenatis lorem lectus eu tortor. Aenean in augue sit amet erat efficitur malesuada in vel velit.
            </div>
          </li>
        </ul>
        <div class="g-1 row">
          <div class="col-md-7">
              <form action="#" method="POST">
                <input type="text" class="form-control" id="answer" placeholder="answer" required> 
          </div>
          <div class="col-md-3">
                <button type="submit" style="width: 100%;" class="btn btn-outline-primary">Submit</button>
              </form>
            </div>
          <div class="col-md-2">
              <button type="button" style="width: 100%;" data-bs-dismiss="modal" class="btn btn-outline-danger">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--modal end-->
</body>
</html>