
{% include 'baseHeadNoLogin.html' %}
<div class="container">

<div class="row mx-3 my-5">
    <h1>Category: binary exploitation</h1>
</div>

<div class="row my-5">

<div class="col-sm mx-3">
    <div class="card px-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">abcDEEZ</h5>
            <p class="card-text">2323</p>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#challenge-1" class="stretched-link"></a>
    </div>
</div>
        

<div class="col-sm mx-3">
    <div class="card px-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">balls</h5>
            <p class="card-text">69</p>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#challenge-2" class="stretched-link"></a>
    </div>
</div>
        

<div class="col-sm mx-3">
    <div class="card px-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">nuts</h5>
            <p class="card-text">420</p>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#challenge-3" class="stretched-link"></a>
    </div>
</div>
        
</div>
<div class="row my-5">
<div class="col-sm mx-3">
    <div class="card px-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">sugon</h5>
            <p class="card-text">69</p>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#challenge-4" class="stretched-link"></a>
    </div>
</div>
        

<div class="col-sm mx-3"></div>
<div class="col-sm mx-3"></div>
</div>

<div class="row mx-3 my-5">
    <h1>Category: forensics</h1>
</div>

<div class="row my-5">

<div class="col-sm mx-3">
    <div class="card px-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">timely</h5>
            <p class="card-text">369</p>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#challenge-5" class="stretched-link"></a>
    </div>
</div>
        

<div class="col-sm mx-3"></div>
<div class="col-sm mx-3"></div>
</div>

<div class="modal fade" id="challenge-1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-5">
          <h2 class="fw-bold mb-0">abcDEEZ</h2>
          <h5>2323 points - 0 solves</h5>
          <ul class="d-grid gap-4 my-4 list-unstyled">
            <li class="d-flex gap-4">
              <div>
                LoreM Ipsum YO AWH asdDJGSNFJSNFSKFNJK fdsfljadnl
              </div>
            </li>
          </ul>
          <div class="g-1 row">
            <div class="col-md-7">
                <form action="/challenge-1" method="POST">
                  <input type="text" class="form-control" id="answer" placeholder="answer" required> 
            </div>
            <div class="col-md-3">
                  <button type="submit" style="width: 100%;" class="btn btn-outline-primary">Submit</button>
                </form>
              </div>
            <div class="col-md-2">
                <button type="button" style="width: 100%;" data-bs-dismiss="modal" class="btn btn-outline-danger">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="challenge-2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-5">
          <h2 class="fw-bold mb-0">balls</h2>
          <h5>69 points - 0 solves</h5>
          <ul class="d-grid gap-4 my-4 list-unstyled">
            <li class="d-flex gap-4">
              <div>
                I love balslsvdfmngmdfjgdfngk dfnglkzfbzx,
              </div>
            </li>
          </ul>
          <div class="g-1 row">
            <div class="col-md-7">
                <form action="/challenge-2" method="POST">
                  <input type="text" class="form-control" id="answer" placeholder="answer" required> 
            </div>
            <div class="col-md-3">
                  <button type="submit" style="width: 100%;" class="btn btn-outline-primary">Submit</button>
                </form>
              </div>
            <div class="col-md-2">
                <button type="button" style="width: 100%;" data-bs-dismiss="modal" class="btn btn-outline-danger">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="challenge-3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-5">
          <h2 class="fw-bold mb-0">nuts</h2>
          <h5>420 points - 0 solves</h5>
          <ul class="d-grid gap-4 my-4 list-unstyled">
            <li class="d-flex gap-4">
              <div>
                Did you know minions love bananas? Well here I have a mission for you...
              </div>
            </li>
          </ul>
          <div class="g-1 row">
            <div class="col-md-7">
                <form action="/challenge-3" method="POST">
                  <input type="text" class="form-control" id="answer" placeholder="answer" required> 
            </div>
            <div class="col-md-3">
                  <button type="submit" style="width: 100%;" class="btn btn-outline-primary">Submit</button>
                </form>
              </div>
            <div class="col-md-2">
                <button type="button" style="width: 100%;" data-bs-dismiss="modal" class="btn btn-outline-danger">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="challenge-4" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-5">
          <h2 class="fw-bold mb-0">sugon</h2>
          <h5>69 points - 0 solves</h5>
          <ul class="d-grid gap-4 my-4 list-unstyled">
            <li class="d-flex gap-4">
              <div>
                I love balslsvdfmngmdfjgdfngk dfnglkzfbzx,
              </div>
            </li>
          </ul>
          <div class="g-1 row">
            <div class="col-md-7">
                <form action="/challenge-4" method="POST">
                  <input type="text" class="form-control" id="answer" placeholder="answer" required> 
            </div>
            <div class="col-md-3">
                  <button type="submit" style="width: 100%;" class="btn btn-outline-primary">Submit</button>
                </form>
              </div>
            <div class="col-md-2">
                <button type="button" style="width: 100%;" data-bs-dismiss="modal" class="btn btn-outline-danger">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="challenge-5" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-5">
          <h2 class="fw-bold mb-0">timely</h2>
          <h5>369 points - 0 solves</h5>
          <ul class="d-grid gap-4 my-4 list-unstyled">
            <li class="d-flex gap-4">
              <div>
                I've been on a real City Pop binge and thought I would share one of my favorite albums.
              </div>
            </li>
          </ul>
          <div class="g-1 row">
            <div class="col-md-7">
                <form action="/challenge-5" method="POST">
                  <input type="text" class="form-control" id="answer" placeholder="answer" required> 
            </div>
            <div class="col-md-3">
                  <button type="submit" style="width: 100%;" class="btn btn-outline-primary">Submit</button>
                </form>
              </div>
            <div class="col-md-2">
                <button type="button" style="width: 100%;" data-bs-dismiss="modal" class="btn btn-outline-danger">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

</div>
</body>
</html>    
