{% include 'basehead.html' %}
<div class="container">

    <h1 class="display-3 mx-4 my-4"><br>
        Leaderboard
        <small class="text-muted">Keep grinding!</small>
    </h1>

    <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:15%" scope="col">Place</th>
            <th style="width:65%"scope="col">Username</th>
            <th style="width:20%"scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
            {% for user in leaderboard %}
            <tr {% if username == user[0] %}class="table-primary"{% endif %}>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      
</div>
</body>
</html>